# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore

# Ignore Play! working directory #
db
lib
log
logs
modules
.history
dist
/.idea
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
eclipse
/.settings
precompiled
test-result
server.pid
*.iml
*.eml
