@()
@main("Welcome to our platform") { 
  <div class="row">
   <div class="small-12">
     <form>
  <fieldset>
    <legend>Log In</legend>


        <div class="row ">
          <div class="small-12 ">
            <input type="text" placeholder="Email">
          </div>
      </div>

    <div class="row">
      <div class="small-12 ">
            <input type="password" placeholder="Password">
      </div>
    </div>
    <div class="row">
      <div class="small-12 ">
      <input type="submit" class="button" value="Start!">
      </div>
    </div>
  </fieldset>
</form>
   </div>
  </div>
}
